/*Global Page Setup */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*background*/
body{
    margin:0;
    height: 100%;
    overflow:hidden;
    font-family: 'Brush Script MT', cursive;
    background: linear-gradient(-45deg, #ff4f8b, #ff8ccf, #ffc1e3, #ffdda3c7, #ffdde1);
    background-size: 400% 400%;
    animation: gradientMove 18s ease infinite; /* name duration direction iteration_count */
}

@keyframes gradientMove{ /*horizontal move*/
    0% {background-position: 0% 50%;} /*left*/
    50% {background-position:100% 50%;}/*right*/
    100% {background-position:0% 50%;}/*left*/
}

.side-decoration{
    position:fixed;
    top:0;
    width:120px;
    height:100%;
    pointer-events:none;
    z-index:1;
    background: radial-gradient(circle at 30% 10%, rgba(255,255,255,.35), transparent 60%), radial-gradient(circle at 70% 50%, rgba(255,182,213,.5), transparent 60%), radial-gradient(circle at 40% 90%, rgba(255,255,255,.25), transparent 60%);
}

.side-decoration.left{
    left:0;
    border-right: 2px solid rgba(255,255,255,.3)
}

.side-decoration.right{
    right:0;
    border-left: 2px solid rgba(255,255,255,.3)
}

body::after{
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: radial-gradient(circle, rgba(255,255,255,.25) 1px, transparent 1px);
    background-size:40px 40px;
    opacity:.15;
    pointer-events:none;
    animation:twinkle 6s linear infinite;
}

@keyframes twinkle {
    from { background-position: 0 0; }
    to   { background-position: 40px 40px; }
}

/*Card*/
.card{
    position:relative; /*relative: normal flow*/
    width:300px;
    height:385px;
    margin:60px auto 0 auto; /* location of the card: top right bottom left, auto positions it centre */
    background-size:cover;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.25), 0 8px 15px rgba(0,0,0,0.15);
    transition: transform 1.1s cubic-bezier(.4,0,.2,1);
}

.card-wrapper{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


.card.open{ /*cards seems to be lifting off the table*/
    transform: translateY(-4px);
    transform: translateX(150px); /*half of card width*/
    transition: transform .6s ease;
}

.card.open .outside{
    transform: rotateY(-180deg);
    pointer-events:none;
}

.inside, .outside{
    border: 5px solid rgba(248, 28, 116, 0.689);
    height:100%;
    width:100%;
    position:absolute;
}

.inside{
    left:0;
    background-color:antiquewhite;
    z-index:-1;
    text-align:center;
}

.inside h2 {
    margin-bottom: 3px;
}

.inside p {
    margin-top: 0;
}

.outside{
    left:0;
    position:absolute;
    width:100%;
    transform-origin: left center; /* hinge on left */
    transform-style: preserve-3d;
    transition: transform 1s ease;
    box-shadow: inset -10px 0 20px rgba(0,0,0,0.25), 5px 0 15px rgba(0,0,0,0.3); /*adds shadow to the cover page*/
}

.cover-outer,  .cover-inside{
    position:absolute; /*relative: removed normal flow*/
    width: 100%; /*100% of parent card*/
    height: 100%;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    overflow:hidden; /*hides extra image outside of card dimensions*/
}

.cover-inside{ 
    background-color:antiquewhite;
    transform: rotateY(180deg); /*places the cover inside on the back side of cover like in actual physical card*/
}

.cake{
    width:100%;
    position: absolute;
    bottom: 30px; 
    transform-style: preserve-3d;
    z-index:4;
    /*for animation*/
    opacity:0;
    transform: translateY(-120px);
    transition: transform 0.9s cubic-bezier(.34,1.56,.64,1), opacity 0.4s ease; /*cubic-bezier is for bounce effect (x1, y1, x2, y2)*/

}

.top-layer, .middle-layer, .bottom-layer {
    height:80px;
    width:240px;
    z-index:4;
    background-repeat:repeat;
    background-size:60px 100px;
    background-position:28px 0;
    background-image: linear-gradient(transparent 50px, #fedbab 50px, #fedbab 60px, transparent 60px), radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
    border-radius: 10px 10px 0 0;
    position: relative;
    margin:auto;
    box-shadow: 6px 0 rgba(0,0,0,0.08), 0 14px 20px rgba(0,0,0,0.15);
}

.middle-layer{
    transform:scale(0.85);
    top:6px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.08), 0 10px 18px rgba(0,0,0,0.18);
}

.top-layer{
    transform:scale(0.7);
    top:26px; 
}

.card.open .cake{
    opacity:1;
    transform:translateY(0);
}

.candles{
    position:absolute;
    left:50%;
    transform: translateX(-40%);
    width:160px;
    z-index:3;
    display:flex;
    justify-content: space-between;

    /*animation*/
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.4s ease;
    transition-delay: 0s; /* no delay when hiding */

}

.card.open .candles{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    z-index:3;
    /* candles appear AFTER cake */
    transition-delay: 0.9s;
}

/*make candle to disappea immediately*/
.card:not(.open) .candles{
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);

    transition: none;
}

.candle{
    height:35px;
    width:8px;
    z-index:5;
    cursor:pointer;
    background: repeating-linear-gradient(45deg, #fd3018 0, #fd3018 5px, #ffa89e 5px, #ffa89e 10px);
    border-radius:3px;
    position:relative;
    margin:auto;

    left:0;
    right:0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    bottom: -10px;
}

.candle::after{
    content:"";
    position: absolute;
    left:50%;
    bottom: 35px;
    transform: translateX(-50%) rotate(45deg);
    width:8px;
    height:8px;
    background:radial-gradient(circle at 30% 30%, #fff6c9, orange 60%, red 100%);
    border-radius: 0 50% 50% 50%;
    box-shadow: 0 0 8px orange,0 0 15px rgba(255,140,0,0.8);
    animation: flameFlicker 0.15s infinite alternate;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes flameFlicker {
    0% {
        transform: translateX(-50%) rotate(43deg) scale(1);
        opacity: 0.9;
    }
    100% {
        transform: translateX(-50%) rotate(47deg) scale(1.1);
        opacity: 1;
    }
}

